@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Open Sans";
    font-weight: 300;
}

canvas {
    display: block;
}

#enterName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    height: 44px;
    border: 1px rgba(108, 18, 18, 0.5) solid;
    z-index: 2;
    font-size: 30px;
    color: #6c1212;
    display: none;
}

*::-webkit-input-placeholder {
    font-weight: 300;
    color: #969696;
}
*:-moz-placeholder {
    /* FF 4-18 */
    font-weight: 300;
    color: #969696;
}
*::-moz-placeholder {
    /* FF 19+ */
    font-weight: 300;
    color: #969696;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 300;
    color: #969696;
}